@model ProjectManager.ASPMVC.Models.Project.CreateForm

@{
    ViewData["Title"] = "Créer un projet";
}

<h2 class="subtitle">Créer un projet</h2>

<div class="section-box">
    <div class="form-card">
        <form asp-controller="Project" asp-action="Create" method="post">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="validation mb-3"></div>

            <div class="mb-3">
                <label asp-for="Name" class="label"></label>
                <input asp-for="Name" class="input" />
                <span asp-validation-for="Name" class="validation"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="label"></label>
                <textarea asp-for="Description" class="textarea"></textarea>
                <span asp-validation-for="Description" class="validation"></span>
            </div>

            <div class="actions">
                <button type="submit" class="btn btn-primary">Créer</button>

                <a asp-controller="Project"
                   asp-action="Index"
                   class="btn btn-secondary">
                    Retour à la liste
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}